
.form-sign-in {
    max-width: 600px;
    padding: 3%;
    box-shadow: 9px 20px 20px #000000;
    background-color: #055160;
    border-radius: 15px;
  }

  @media (max-width: 767px) {
    .form-sign-in {
      padding: 7% 5%;
    }
  
  }

  .form-sign-in h1{
    color: #F5ECEC;
    padding-bottom: 5%;
  }
  .form-sign-in .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-sign-in input[type="email"] {
    margin-bottom: 18px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-sign-in input[type="password"] {
    margin-bottom: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

