.login_image{
    height: 100%;
}
 h4.title{
    color: #F5F5F5;
    padding-top: 7%;
    padding-bottom: 4%;
    font-weight: 400;
    font-size:48px;
 }

 @media (max-width: 767px) {
    h4.title {
      font-size: 36px;
    }
  }

  
  @media (max-width: 767px) {
    .login_content {
      height: auto;
      padding: 20px;
    }
  }